<!--<!DOCTYPE html>-->
<!--<html>-->
<!-- <head>-->
<!--  <meta charset="utf-8">-->
<!--  <title>Кнопка</title>-->
<!-- </head>-->
<!-- <body>-->
<!--  <form>-->
<!--   <p><input value="Введите текст"></p>-->
<!--   <p><input type="submit">-->
<!--      <input type="reset"></p>-->
<!--  </form>-->
<!-- </body>-->
<!--</html>-->
<body>
<form action="/as" method="POST">
    <p>input your Birthday</p>
    <input value="" name="index">
    <p>input your Firstname</p>
    <input value="" name="index">
    <p>input your Email</p>
    <input value="" name="index">
    <input type="hidden" value="1">
    <input type="submit" class="btn btn-dark" value="push1">
</form>

</body>